[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]
django = "==2.2.14"
gunicorn = "==19.9.0"
django_cleanup = "==3.0.0"
django-bootstrap4 = "==2.2"
pymongo = "==3.11.0"
django_demo = "*"
wagtail = "*"
mysqlclient = "*"
django-mysql = "*"
google-api-python-client = "*"
google-cloud  = "*"
google-cloud-vision  = "*"


[dev-packages]

[requires]
python_version = "3.7"
